@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using System.Net;
@inject ITorrentService TorrentService
@page "/settings"

<PageTitle>Settings</PageTitle>

<MudForm @ref="form" @bind-IsValid="@success" Model="settings" @bind-Errors="@errors">
	<MudGrid>
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5" Color="Color.Info">Network</MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudTextField T="IPEndPoint" Label="Listen endpoint" @bind-Value=settings.ListenEndPoint Converter=ipendpointconverter Clearable=true HelperText="use 0.0.0.0:55123 to listen on port 55123 on all nics" HelperTextOnFocus=true/>
					<MudTextField T="IPEndPoint" Label="Dht endpoint" @bind-Value=settings.DhtEndPoint Converter=ipendpointconverter Clearable=true HelperText="use 0.0.0.0:55123 to listen on port 55123 on all nics" HelperTextOnFocus=true />
					<MudCheckBox Size=Size.Small Label="Allow port forwarding" @bind-Value=settings.AllowPortForwarding />
					<MudCheckBox Size=Size.Small Label="Allow local peer discovery" @bind-Value=settings.AllowLocalPeerDiscovery />
				</MudCardContent>
			</MudCard>
		</MudItem>
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5" Color="Color.Info">Folders</MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudCheckBox Size=Size.Small Label="Use hot folder" @bind-Value=settings.UseTorrentHotFolder />
					<MudCheckBox Size=Size.Small Label="Delete hot folder torrent after adding" @bind-Value=settings.DeleteHotFolderTorrentAfterAdding Disabled=!settings.UseTorrentHotFolder />
					<MudTextField Label="Download folder" @bind-Value=settings.DownloadFolder Required=true ErrorText="Download folder name is required" />
					<MudTextField Label="Hot folder" @bind-Value=settings.TorrentHotFolder Disabled=!settings.UseTorrentHotFolder Required=true ErrorText="Hot folder name is required" />
				</MudCardContent>
			</MudCard>
		</MudItem>
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5" Color="Color.Info">Speed Limits</MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudNumericField Label="Maximum download rate (Bps)" @bind-Value=settings.MaximumDownloadRate Min="0" HelperText="use 0 for unrestricted" HelperTextOnFocus=true />
					<MudNumericField Label="Maximum upload rate (Bps)" @bind-Value=settings.MaximumUploadRate Min="0" HelperText="use 0 for unrestricted" HelperTextOnFocus=true />
				</MudCardContent>
			</MudCard>
		</MudItem>
		<MudItem xs="12" sm="6">
			<MudCard>
				<MudCardHeader>
					<MudText Typo="Typo.h5" Color="Color.Info">Queue and Seed Limits</MudText>
				</MudCardHeader>
				<MudCardContent>
					<MudNumericField Label="Maximum active downloads" @bind-Value=settings.MaximumActiveDownloads Min="0" />
					<MudNumericField Label="Maximum active uploads" @bind-Value=settings.MaximumActiveUploads Min="0" />
					<MudNumericField Label="Max seed ratio" @bind-Value=settings.SeedLimit Min="0.0" Max="99999.0" />
				</MudCardContent>
			</MudCard>
		</MudItem>
		<MudItem xs="12" sm="12">
			<MudPaper Class="pa-4">
				<MudStack>
					@if (errors.Length > 0)
					{
						<MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
						@foreach (var error in errors)
						{
							<MudText Color="@Color.Error">@error</MudText>
						}
						<MudDivider />
					}
					<div class="d-flex align-center justify-space-between">
						<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick=ResetToDefaults>Reset to default</MudButton>
						<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@Submit">Apply</MudButton>
					</div>
				</MudStack>
			</MudPaper>
		</MudItem>
	</MudGrid>
</MudForm>

@code {
	bool success = true;
	string[] errors = { };
	MudForm? form = default!;
    TorrentSettings settings { get; set; } = default!;

	private Converter<System.Net.IPEndPoint> ipendpointconverter = new Converter<System.Net.IPEndPoint>()
		{
			GetFunc = x => { return IPEndPoint.TryParse(x!, out var result) ? result : null!; },
			SetFunc = x => { return x == null ? "disabled" : x.ToString(); },
		};

	protected override void OnInitialized()
	{
		settings = TorrentService.GetSettings();
	}

	private void ResetToDefaults()
	{
		settings = TorrentService.GetDefaultSettings();
		form?.ResetValidation();
	}

	private async Task Submit()
	{
		await TorrentService.SetSettings(settings);
	}
}
